<p>
  <div class="field">
  <%= f.label :text, "Choice" %><br />
  <%= f.text_area :text, rows: 3 %><br />
  </div>

  <div class="field">
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Remove Choice" %>
  </div>
</p>