<p>
	<div class="fieldgroup" 
		<% if false %>
			style="display:hidden;"
		<% end %>
	>
	  <div class="field">
	  <%= f.label :text, "Choice" %><br />
	  <%= f.text_area :text, rows: 3 %><br />
	  </div>

	  <div class="field" style="display:hidden;">
	  <%= f.check_box :_destroy %>
	  <%= f.label :_destroy, "Remove Choice" %>
	  </div>
  </div>
</p>