<% @issues.each do |issue| %>
  <div>
    <p><%= issue.text %></p>
  </div>
  <div style="text-align:right;padding-right:30px;">
    <p>
      <%= link_to 'state Voice', issue %> | 
      <!-- link_to 'pass' needs to invoke Speaker
      controller to update Speaker's history -->
      <%= link_to 'pass', :issues %>
    </p>
  </div>
<% end %>