<h1> Seen Issues </h1>

<!-- placeholder, specialize this -->
<%= render 'issues/seen_index' %>

<h2><%= link_to 'Create Issue', new_issue_path %></h2>
<h3><%= link_to 'Top New Issues', issues_path %></h3>