<h1>About</h1>

<p>Voice-America is an online project using a Rails application called Vox Populi. Both were developed by Vito Cairone. You are viewing a pre-Alpha demo. Many features described or planned for the initial version are not yet implemented, at this time including the Boost Store, Great Psychic Experiment, Gold Verification, Payment Processing and Free Choice Voting (currently implemented is Forced Choice Voting, boo).</p>

<p>The source code for this project is hosted at <a href="https://github.com/vitocairone/voxpopal">github.com/vitocairone</a>.</p>