<h1>Donation Spending Policy</h1>

<center><!-- remove I GUESS -->
<table border="1" cellpadding="10">
	<tr>
		<th>¢ per $1</th><th>Spent On</th>
	</tr><tr>
		<td>70</td><td><%= link_to 'Voice-America Fund', :proposals %></td><!-- :proposals -->
	</tr><tr>
		<td>10</td><td>Outreach</td>
	</tr><tr>
		<td>5</td><td>American Red Cross</td>
	</tr><tr>
		<td>5</td><td>Wikipedia</td>
	</tr><tr>
		<td>5</td><td>Operating Costs</td>
	</tr><tr>
		<td>5</td><td><%= link_to 'Patronage Awards', patronage_path %></td>
	</tr><tr>
		<th>100</th><th>Total</th>
	</tr>
</table>
</center><!-- remove -->