<h1>Patronage</h1>

<p>Your Individual Lifetime Patronage: <strong>$0</strong></p>
<p>Total Lifetime Patronage: <strong>$0</strong></p>
<p>Monthly Total Patronage Awards: <strong>$0</strong></p>

<br>

<p>Patronage is spent according to the Patronage Spending Policy</p>

<center><!-- remove I GUESS -->
<table border="1" cellpadding="10">
	<tr>
		<th>¢ per $1</th><th>Spent On</th>
	</tr><tr>
		<td>50</td><td>Outreach</td>
	</tr><tr>
		<td>50</td><td>Operating Costs</td>
	</tr><tr>
		<th>100</th><th>Total</th>
	</tr>
</table>
</center><!-- remove -->

<div style="text-align:left;">

<p>Each month, each Patron is awarded an amount equal to (Individual Lifetime Patronage) / (Total Lifetime Patronage) x (Monthly Total Patronage Awards).<p>

<p>The Monthly Total Patronage Awards come from 5 cents per 1 dollar of <%= link_to 'Donation', donation_spending_policy_path %>. Patronage does not contribute back towards Patronage Awards and it does <strong>not</strong> contribute towards the Voice-America Fund.</p>

<p>Patrons must cover their own microtransaction costs when cashing out their awards. With Stripe this cost is 30 cents + 2.9% per transaction.</p>

<p style="text-align:center;">[[ Payment-Processor Button Goes Here ]]</p>

</div>