<h1>Donations Portal</h1>

<ul style="list-style-position:inside;-webkit-padding-start:0px;">
	<li>Boost Store</li>
	<li><%= link_to 'Donation Spending Policy', donation_spending_policy_path %></li>
	<br>
	<li><%= link_to 'Voice-America Fund', proposals_path %></li>
	<br>
	<li>Great Zodiac Experiment</li>
	<br><br>
	<li><%= link_to 'Patronage', patronage_path %></li>
</ul>
