<div class="revolutionary_parchment">

	<h1>OUR GOAL</h1>

	<p>Our goal is to provide a voice to all Americans, and to give the real voice of the American people a place to be heard. This is the voice of rich and of poor together, establishment and outsiders, conservatives and progressives, radicals and moderates, urban and rural, religious and secular, majority and minority, all together and all in their true presence, none amplified nor muffled nor silenced.</p>

	<h1>OUR FIRST PROMISE</h1>

	<p>Voting ability will always be distributed equally one to each person, a that is each user who is a real unique American human being, to the very best of our ability. We will never sell votes or voting priveleges in any way at any time, or provide votes to any entity other than a human being.</p>

	<h1>OUR SECOND PROMISE</h1>

	<p>We will never give, sell, barter or share your private information with anyone else, private or government.</p>

	<h1>WHAT YOU CAN DO</h1>

	<div class="threshhold">
		<p>You can share your own voice, and encourage your friends to share theirs. To <%= link_to 'declare', 'issues/index' %> that you want to be a part of our goal, want your voice to be heard, and understand our promises to you, just click on the second word of this sentance.</p>
	</div>

</div>