// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.revolutionary-parchment {
	p {
		text-indent:20px;
		text-align:left;
	}

	h1 {
		margin-left:45px;
		color:#000;
	}	
}

.threshhold {
	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
			color: inherit;
			background-color: inherit;
		}
	}
}