// Place all the styles related to the issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea {
  width: 35em;
}

.textarea-pen {
	background-color: #0f0;
	/*div {
		&.field, &.actions {
			margin-bottom:0px;
		}
	}*/
}

.issue-textarea {
  
}

.choice-textarea {

}

.choice-killbox {
	display:none;
}
